// media query to fix navbar menu
@import "../scss/bootsrap.scss";
.nav-custom{
    transition: all .5s ease;
}
@media screen and (max-width: 992px) {
  .custom-navbar-menu {
    display: none !important;
  }
}
// delete default style of navbar toggler
.custom-btn-navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.custom-btn-navbar-toggler:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
// custom close btn
.off-close-btn {
  --bs-btn-close-color: $primary !important;
}
// stickey navbar
.custom-navbar-brand img {
  transition: all 0.5s ease;
}
.social-media {
  span {
    span {
      a {
        i {
          transition: all 0.5s ease;
          font-size: 34px;
          color: $primary;
        }
      }
    }
  }
}
/////////header////////////
header {
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
}
.btn-wrapper button:last-child{
    transition: all .5s ease;
    &:hover{
        background-color: $light !important;
        color: $dark !important;
    }
}
// media query for image-slider
@media screen and (max-width:578px) {
      .carousel-container{
        #carouselExampleAutoplaying{
           .carousel-inner{
            .carousel-item{
                img{
                    height: 260px;
                }
            }
           } 
        }
      }  
}
